@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    /* cores: */
    --light-bg: #f2f2f2;
    --gray-text1:  #B1B1B1 ;
    --gray-text2: #85858585;
    --black: #1e1e1e;
    --color1: #0075F6;
    --color2: #1F1A99;
    --color3:  #010032;
    --color-input: #ffffff;
    /* fontes: */
    --font-Inter:"Inter", sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

html{
    scroll-behavior: smooth;
}

html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da janela */
}

body {
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
    text-size-adjust: 100%; /* Previne redimensionamento de texto automático em dispositivos móveis */
    background: #F9F9F9;
}

ul, ol {
    list-style: none; /* Remove as bolinhas e números de listas */
}

a {
    text-decoration: none; /* Remove sublinhado de links */
    color: inherit; /* Faz os links herdarem a cor do texto ao invés de ter uma cor padrão */
}

img {
    max-width: 100%; /* Garante que imagens não extrapolem o tamanho do contêiner */
    height: auto;
}

button {
    all: unset;
    cursor: pointer;
}

svg{
    overflow: hidden;
}

path{
    width: 100%;
    height: auto;
}

*{
    padding: 0;
    margin: 0;
}
body{
background: var(--light-bg);
}
.container{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    /* flex-wrap: wrap; */
    height: 100%;
}
.container-central-login{
    /* height: 100%; */
    display: flex;
    gap: 20px;
    padding: 5% 8%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    min-width: 320px;
}
.btn-back{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F2F2F2;
}
.central-login-inputs{
    display: flex;
    height: 92%;
    /* padding: 40px 0px 80px 0px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}
.apresentation-texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.greeting-login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
.greeting-login-h1{
    color: var(--color1);
    font-family: var(--font-Inter);
    font-size: clamp(40px, 4vw, 56px);
    font-style: normal;
    font-weight: 800;
    line-height: 104%; /* 66.56px */
    letter-spacing: -0.704px;
}
.greeting-login-h1-colorizer{
    color: var(--color2);
    font-weight: 800;
}
.greeting-login-h2{
    color: var(--color3);
    font-family: var(--font-Inter);
    font-size: clamp(14px, 2vw, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.264px;
}
.apresentation-text-h3{
    align-self: stretch;
    color: var(--gray-text1);
    font-family: var(--font-Inter);
    font-size: clamp(14px, 1.5vw, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
}
.form-login{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.form-login-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}
.container-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.forgot-my-password{
    color: var(--gray-text2);
    text-align: right;
    font-family: var(--font-Inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    align-self: stretch;
    text-decoration: none;
    text-decoration: underline;
}
.inputs-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.input-campo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
}
.icon-input{
    padding: 8px 16px;
}
.inputs-box p{
    color: var(--black);
    font-family: var(--font-Inter);
    font-size: clamp(12px, 1.5vw, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
    align-self: stretch;
}
.inputs-box input{
    display: flex;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--color-input);
    border-radius: 8px 0 0 8px;
    background: #FFF;
    border: none;
    font-family: var(--font-Inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
}
.inputs-box input:focus{
    outline: none;
    color: var(--black);
}
.btn-login{
    cursor: pointer;
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 8px;
background: var(--color2);
color: var(--light-bg);
text-align: center;
font-family: var(--font-Inter);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
letter-spacing: -0.176px;
border: none;
}

.container-ilustration{
    display: flex;
    width: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex: 1 0 0;
}
.ilustration-box{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(132deg, #36B5FF 23.36%, #01A2FF 96.8%);
}
.ilustration-box svg{
    width: 160%;
    height: auto;
}

.img-shape{
    z-index: 2;
}
.img-planner {
    z-index: 3;
    width: 70%;
    aspect-ratio: 1/1;
    animation: moveY 2s ease-in-out infinite alternate;
}

.clouds{
    height: 100%;
    aspect-ratio: 1556/675;
    position: absolute;
    left: 0;
    animation: moveX 5s linear infinite;
    /* animation-iteration-count: infinite; */
}

.img-clouds{
    height: 100%;
}

@keyframes moveX {
    from {
        margin-left: 0%;
      }
    
      to {
        margin-left: -130%;
      }
}

@keyframes moveY {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(20px); 
    }
}


.nuvens-img{
  position: absolute; /* Para sobrepor o shape */
  z-index: 2; /* Coloca as listas na frente do shape */
  width:100%;
  display: flex; /* Para organizar as nuvens em linha */
  ;

}
.img-cloud{
    bottom: 150px;
    position: absolute;
    left: 100%;
    animation: scrollleft 6s linear infinite;
    
  }
  .img-cloud2{
    bottom: 150px;
    position: absolute;
    left: 120%;
    animation: scrollleft2 9s linear infinite
  }
  .img-cloud3{
    bottom: 150px;
    position: absolute;
    left: 140%;
    animation: scrollleft3 18s linear infinite
  }
  @keyframes scrollleft {
    0% {
        opacity: 1; 
      }
    50%{
        opacity: 0.7;
    }
      90% {
        opacity: 0; 
      }
      100% {
        transform: translateX(-140%);
        opacity: 0; 
      }
}
     @keyframes scrollleft2 {
        0% {
            opacity: 1; 
          }
        50%{
            opacity: 0.7;
        }
        90% {
            opacity: 0; 
          }
        100% {
            transform: translateX(-140%);
            opacity: 0; 
          } }
    @keyframes scrollleft3{
        0% {
            opacity: 1; 
          }
        50%{
            opacity: 0.7;
        }
        90% {
            opacity: 0; 
          }
          100% {
            transform: translateX(-140%);
            opacity: 0; 
          } }

#btnModal{
    cursor: pointer;
}

@media (max-width: 768px) {
    .container-ilustration{
        display: none;
    }

    .container-central-login{
        padding: 64px 48px;
        min-width: 0;
    }
}

@media (max-width: 480px) {
    .container-central-login{
        padding: 32px;
    }

    .container-central-login a svg{
        width: 17px;
        height: 16px;
    }
}